<%= form_with(model: @blog, local: true, url: junction_new_or_edit) do |form| %>
  <% if @blog.errors.any? %>
    <div class="error_explanation">
      <% @blog.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>
  <div class="blog_content">
    <%= form.label :content %><br>
    <%= form.text_area :content, size: "80x6" %>
  </div>
  <div class="button_place">
    <span class="submit_buttton"><%= form.submit %></span>
  </div>
<% end %>

<p class="to_other_page"><%= link_to '一覧画面に戻る', blogs_path %></p>
