<!DOCTYPE html>
<html>
  <head>
    <title>MONOLOGUEEE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <header>
        <div class="header_container">
           <h1 id="header_title"><%= image_tag 'owlbird.png', class:'monologueee_icon' %>MONOLOGUEEE</h1>
        </div>
      </header>
      <main>
        <div class="main_container">
          <%= yield %>
        </div>
      </main>
      <footer>
        <div class="footer_container">
          <p><small>(C)2019 MONOLOGUEEE. All Rights Reserved.</small></p>
        </div>
      </footer>
    </div>
  </body>
</html>
